section {
  width: 1100px;
  height: auto;
  margin: 0 auto 80px auto;
}

a {
  text-decoration: none;
  color: black;
  font-size: bold;
}
a:hover {
  cursor: pointer;
}

.topic-container {
  height: 330px;
  margin: 0 auto 20px auto;
}
.topic {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

.focus-topic {
  position: relative;
}

.focus-topic::before {
  content: "";
  position: absolute;
  object-fit: cover;
  top: 0px;
  left: -10px;
  border-left: 25px solid #fab617;
  border-top: 25px solid #fab617;
  border-right: 25px solid transparent;
  border-bottom: 25px solid transparent;
  z-index: -1;
}

.focus-img {
  width: 100%;
  height: 330px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 355px;
  grid-template-rows: repeat(8, 1fr);
  justify-content: center;
  gap: 15px;
  overflow: hidden;
}

.focus-img img {
  width: 100%;
  height: 100%;
  display: block; /* 移除圖片底部預設空白 */
  border-radius: 8px;
  object-fit: cover;
}
.mixed {
  display: flex;
  justify-content: end;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fafafa;
}
.mixed:hover {
  color: #0c9251;
}

.word {
  width: 225px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.mixed img {
  width: 110px;
  border-radius: 0;
}

.img1,
.img2,
.img3,
.img4,
.img5 {
  position: relative;
}

.img1::after,
.img2::after,
.img3::after,
.img4::after,
.img5::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    180deg,
    rgba(34, 34, 34, 0) 45%,
    rgba(34, 34, 34, 0.6) 90%
  );
}

.img1::before {
  content: "357狂歡日 超狂折扣領▸";
  color: white;
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  padding: 10px;
  z-index: 2;
}

.img2::before {
  content: "天冷泡湯去▸";
  color: white;
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  padding: 10px;
  z-index: 2;
}

.img3::before {
  content: "新開幕飯店 搶鮮住▸";
  color: white;
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  padding: 10px;
  z-index: 2;
}

.img4::before {
  content: "日韓賞楓最前線▸";
  color: white;
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  padding: 10px;
  z-index: 2;
}

.img5::before {
  content: "土耳其跟團 $28,800起▸";
  color: white;
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  padding: 10px;
  z-index: 2;
}

.img1 {
  grid-row: 1 / 9;
}

.img2 {
  grid-column: 2 / 2;
  grid-row: 1 / 6;
}
.img3 {
  grid-column: 2 / 2;
  grid-row: 6 / 9;
}
.img4 {
  grid-column: 3 / 3;
  grid-row: 1 / 4;
}
.img5 {
  grid-column: 3 / 3;
  grid-row: 4 / 9;
}

.img6 {
  grid-column: 4 / 4;
  grid-row: 1 / 3;
}
.img7 {
  grid-column: 4 / 4;
  grid-row: 3 / 5;
}
.img8 {
  grid-column: 4 / 4;
  grid-row: 5 / 7;
}
.img9 {
  grid-column: 4 / 4;
  grid-row: 7 / 9;
}

.nation-topic {
  position: relative;
}

.nation-topic::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10px;
  border-left: 10px solid #11d073;
  border-top: 10px solid #11d073;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: -1;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-bar {
  font-size: 18px;
  padding: 0 5px;
  gap: 20px;
  display: flex;
  background-color: orange;
}
.nav-district {
  font-size: 18px;
}

.japan {
  display: grid;
  grid-template-columns: 540px 260px 260px;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  height: 395px;
}

.japan img {
  width: 100%;
  height: 100%;
  display: block; /* 移除圖片底部預設空白 */
  border-radius: 8px;
  object-fit: cover;
}

.japan-img1 {
  grid-row: 1 / 3;
}

.japan-img2 {
  grid-column: 2;
  grid-row: 1 / 2;
}

.japan-img3 {
  grid-column: 2;
  grid-row: 2 / 3;
}

.japan-img4 {
  grid-column: 3;
  grid-row: 1 / 2;
}

.japan-img5 {
  grid-column: 3;
  grid-row: 2 / 3;
}
