section {
  margin: 100px;
}

h1 {
  text-align: center;
  font-size: 40px;
  border-bottom: solid 4px red;
  margin-bottom: 20px;
}

.box {
  width: 300px;
  height: 300px;
  background-color: #868585;
  border-style: solid;
  border-width: 10px 20px 30px 40px;
  border-color: rgb(255, 179, 179);
  border-radius: 10%;

  /* outline外框:不占空間，範圍不會被侷限 */
  outline: 8px solid red;
  /* 往外擴展outline */
  /* outline-offset: 10px; */
}

.name-field {
  outline: 2px solid rgb(160, 160, 160);
}
.name-field:focus {
  outline: 2px solid red;
}

/* list-style可以調整列表的樣式 */
.list {
  /* list-style-image: url(https://upload.wikimedia.org/wikipedia/zh/b/b7/Cinnamoroll_character.png); */
  list-style-position: inside;
  /* list-style-type: "✿"; */
  /* list-style-type: cjk-decimal; */
}

.list li::marker {
  content: "✿ ";
  margin-right: 50px;
  color: #f78888;
}
