section {
  margin: 100px;
}

.title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.card-cover {
  width: 960px;
  margin: 0 auto;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.each-card {
  width: 300px;
  border: 1px solid #00000041;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
}

.img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  aspect-ratio: 4 / 3;
  /* 調整圖片邊角超出的部分 */
  /* border-radius: 8px; */
  overflow: hidden;
}

.card-content {
  text-align: center;
}

.class-text {
  text-align: center;
  margin: 10px 0;
}

.card-tags {
  margin: 10px 0;
}
.class-price {
  color: red;
}

.tag {
  background-color: burlywood;
  padding: 4px 5px;
  border-radius: 4px;
  margin: 10px 0;
}

p,
span {
  font-size: 16px;
}

button {
  background-color: orange;
  width: 100%;
  border-radius: 4px;
}
