body {
  background-color: #e2e2e2;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center; /* 水平置中 section */
  min-height: 100vh; /* 讓 body 佔滿整個畫面高度 */
}
section {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 1200px;
  font-size: 16px;
  padding: 10px;
}
.container {
  margin: 0 auto;
  /* background-color: grey; */
  padding: 16px 3px;
  /* border: solid lightgray; */
  display: flex;
  flex-direction: column;
}

p {
  font-size: 22px;
  font-weight: bold;
}

i {
  color: orange;
}
.icon {
  color: grey;
}

.link-control {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.classify {
  background-color: #fff;
  color: grey;
  margin: 15px 0;
  height: 20px;
  padding: 5px 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  text-decoration: none;
}

.company-container {
  width: 1152px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* 每個 company-block 之間的距離 */
}

.company-block {
  display: flex;
  flex-wrap: nowrap; /* 不換行 */
  box-sizing: border-box;
  gap: 20px;
}

.each-company {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 16px;
  flex: 1 1 calc(25% - 20px); /* 固定 4 欄寬度，不隨內容撐開 */
  box-sizing: border-box;
}

.top-part {
  display: flex;
  gap: 16px;
}

img {
  width: 100px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
}
.title {
  color: rgb(12, 12, 138);
  font-weight: bold;
}

.job {
  color: grey;
  border: 1px solid lightgray;
  padding: 3px;
  border-radius: 10px;
}

.job-classify {
  display: flex;
}

.job-link {
  color: orange;
  display: flex;
  justify-content: center;
}
