/* display:1 START */
.display {
  /* margin: 100px; */
  /* width: 960px;*/
  background-color: #fff;
  display: grid;
  /* display:1   */
  /* grid-template-columns: repeat(7, 1fr); */
  grid-template-columns: repeat(4, minmax(100px, 250px));
}

.shop {
  padding: 10px;
  margin: 0 auto;
  border: 1px solid grey;
  position: relative;
}

.item img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover; /* 圖片維持比例並裁切 */
}

.sale-tag {
  font-weight: 100;
  background-color: rgb(255, 0, 0);
  color: aliceblue;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  left: -10px;
}

.sale-tag::before {
  content: "";
  /* width: 10px;
  height: 10px;
  background-color: rgb(172, 0, 0); */
  color: aliceblue;
  position: absolute;
  /* bottom: -10px; */
  top: 100%;
  border-right: 10px solid rgb(194, 0, 0);
  border-top: none;
  border-left: none;
  border-bottom: 10px solid transparent;
}

.img-wrap {
  overflow: hidden;
  position: relative;
}
/* display:1 END*/

/* display:2 START*/
.display2 {
  margin: 100px;
  background-color: #fff;
  height: 600px;
  display: grid;
  /* 
  grid-template-areas 必須是四邊形
  .:表示空白
  */
  grid-template-areas:
    "hh hh hh hh"
    "ss . mm mm"
    "ss . ff ff";
  grid-template-columns: 10% 30% 30% 30%;
  /*
  grid-template-rows: 100px auto 100px; */
}
header {
  grid-area: hh;
  background-color: rgb(255, 255, 163);
}

main {
  grid-area: mm;
  background-color: lightgrey;
}
aside {
  grid-area: ss;
  background-color: #faa;
}

footer {
  grid-area: ff;
  background-color: #fa0;
}
/* display:2 END*/

/* display4: START
欄列數量較多時，由子層直接調整
*/
.display4 {
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  gap: 10px;
}

.item {
  background-color: rgb(0, 90, 117);
}
/*
由邊線&跨度決定子層的範圍*/
.item1 {
  background-color: #faa;
  /* grid-column: 1/3; */
  grid-column: 1 / span 5;
  grid-row: 1 / 3;
  z-index: 2;
}

.item2 {
  background-color: #ffa;
  /* grid-column: 2 / 7; */
}

/* display:3 START*/
.display3 {
  margin: 50px auto;
  background-color: rgb(255, 165, 165);
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
  /* justify-content: center; */
  /* align-content: center; */
  /* align-items: center; */
  justify-items: center;
}
.box {
  font-size: 50px;
  height: 100px;
}
.box1 {
  background-color: #aaf;
}

.box2 {
  background-color: #a0f;
  margin: auto;
}

.box3 {
  background-color: #0af;
}
