section {
  margin: 100px auto;
  width: 300px;
  height: 300px;
}

.item {
  margin: 10px auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 8px;
}

.img-wrap {
  position: relative;
  background-color: gray;
}

.sale {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
}

.product {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 8px;
  opacity: 1;
}

.img-wrap:hover .sale {
  left: 0;
  opacity: 1;
  transition-delay: 0.5s;
}
.img-wrap:hover .sale-text {
  bottom: 0;
  opacity: 1;
  transition-delay: 0.6s;
}

.sale-text {
  background-color: red;
  color: yellow;
  text-align: center;
  padding: 4px 0;
  position: absolute;
  bottom: -32px;
  right: 0;
  left: 0;
  opacity: 0;
}

.information {
  padding: 10px;
}
