/* 調色參考https://paletton.com/#uid=14N0u0kllllaFw0g0qFqFg0w0aF */

.headbar {
  display: flex;
  background-color: #eeaccd;
  justify-content: space-between;
  height: 60px;
}

.bar {
  display: none;
  height: 100%;
  font-size: 36px;
}

.logo img {
  height: 60px;
  object-fit: cover;
  aspect-ratio: 4 /3;
}

.link {
  display: flex;
  gap: 20px;
  /* background-color: rgb(63, 63, 109); */
  justify-content: center;
  align-items: center;
  line-height: 60px;
}

.intro {
  height: 100%;
  background-color: #d1689b;
  color: white;
  position: relative;
  padding: 0 20px;
}
/* 
.list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  left: -10px;
  top: -10px;
} */

.list {
  position: absolute;
  top: 100%;
  left: 0px;
  list-style: none;
  /* margin: 10px auto; */
  width: 150px;
  display: none; /* 隱藏none */
}

.selector:hover {
  background-color: #eeaccd;
}

.selector {
  padding: 10px 20px;
  background-color: #d20067;
  border-collapse: collapse;
  position: relative;
}

.hotel:hover .list,
.airport:hover .list,
.spot:hover .list {
  display: block;
}

.list-toggle,
.nav-toggle {
  display: none;
}

/* 手機時的螢幕 */
@media screen and (max-width: 767px) {
  .headbar {
    position: relative;
    padding: 0 10px;
  }

  .title {
    font-size: 60px;
  }

  .bar {
    display: flex;
    align-items: center;
    font-size: 36px;
    margin: 5px;
  }

  .link {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
  }

  /* 動畫 */
  .nav-toggle:checked + .link {
    display: block;
    transition: all 1s ease-in-out;
    left: 100%;
    opacity: 1;
  }

  .list-toggle:checked + .list {
    display: block;
    transition: height 1s ease-in-out;
    height: 240px;
    /* position: static; */
  }

  .list {
    height: 0;
    position: static;
    color: white;
  }

  .link {
    display: none;
    left: 0;
    /* display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; */
  }

  .down {
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 60px;
  }
}
