/* 補充資料
https://cdnjs.com/libraries/font-awesome/6.7.2 */
/* 
https://fontawesome.com/v6/search?o=r */

section {
  font-size: 16px;
}

.container-header {
  margin: 0 auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #dfdede; /* 用這個代替 hr */
  padding: 0 50px;
}

.header-logo {
  max-width: 70%;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  /* 控制導覽連結的間距 */
}

.header-bar {
  color: rgb(119, 119, 119);
  font-size: 15px;
  text-decoration: none;
}

.header-bar:hover {
  color: rgb(255, 153, 0);
}

.header-link {
  background-color: #da3743;
  border-radius: 30px;
  color: white;
  padding: 10px;
  line-height: 1;
}
.guide-background {
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_%E9%A6%96%E5%9C%96.png");
  background-size: cover; /* 填滿容器 */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  width: 1184px; /* 滿版寬度 */
  height: 625px;
}

.guide-container {
  padding: 0 20px;
  margin-left: 100px;
  /* margin-top: 120px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.guide-title {
  margin-top: 100px;
}
.guide-context {
  margin: 60px 60px 80px 100px;
}
.Chi-word {
  font-size: 44px;
  font-weight: bold;
}
.Eng-word {
  display: block; /* 讓它獨佔一行 */
  margin-top: 8px;
  font-family: arial;
  font-size: 24px;
  font-weight: bold;
}
.detail-word {
  color: #595959;
  line-height: 30px;
}
.button-g {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #064c8c;
  color: white;
  border: 1px solid #064c8c;
  border-radius: 8px;
  padding: 10px 12px;
  margin: 0 5px 5px 0;
}

.footer-container {
  background-color: #252932;
  min-width: 100vw;
  display: flex;
  flex-direction: column; /* 垂直排列 */
  align-items: stretch; /* 讓子元素寬度撐滿 */
  padding: 60px 0 20px 0;
}

.footer-information {
  color: #e3e6ed;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 87px;
}

.foot-company,
.foot-service,
.foot-detail,
.foot-social {
  flex: 1;
  padding: 0 20px;
}

.foot-service {
  background-color: #252932;
  color: #e3e6ed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block-a {
  display: inline-block;
  border-bottom: 1px solid #e3e6ed;
}
.current-a {
  color: black;
  border-bottom: 1px solid #e3e6ed;
  padding: 10px 10px 10px 0;
}
.footer-a {
  text-decoration: none;
  color: #e3e6ed;
  padding: 10px 10px 10px 0;
}

.footer-a:hover {
  color: rgb(255, 153, 0);
}

.foot-company {
  display: block;
}
.country {
  font-weight: bold;
}
.address {
  font-size: 12.3px;
}

.foot-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.language {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.foot-social {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.social-a {
  padding-top: 0;
  /* 取消上方空白 */
  margin-top: 0;
  margin-bottom: 20px;
}

/* 
.default{
  pointer-events: none; 
  cursor: not-allowed;
} */

.footer-declare {
  width: 100%;
  padding: 15px 0 13px 0;
  background-color: #191c23;
  color: #9ea6b7;
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
}

.icon-control {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  display: flex;
  align-items: center;
}
.icon {
  font-size: 22px;
  color: grey;
}
