/* 補充資料
https://cdnjs.com/libraries/font-awesome/6.7.2 */
/* 
https://fontawesome.com/v6/search?o=r */

section {
  font-size: 16px;
}

.container-header {
  margin: 0 auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #dfdede; /* 用這個代替 hr */
  padding: 0 50px;
}

.header-logo {
  max-width: 70%;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  /* 控制導覽連結的間距 */
}

.header-bar {
  color: rgb(119, 119, 119);
  font-size: 15px;
  text-decoration: none;
}

.header-bar:hover {
  color: rgb(255, 153, 0);
}

.header-link {
  background-color: #da3743;
  border-radius: 30px;
  color: white;
  padding: 10px;
  line-height: 1;
}
.guide-background {
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_%E9%A6%96%E5%9C%96.png");
  background-size: cover; /* 填滿容器 */
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  min-width: 100vw;
  height: 625px;
}

.guide-container {
  padding: 0 20px;
  margin-left: 100px;
  /* margin-top: 120px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.guide-title {
  margin-top: 100px;
}
.guide-context {
  margin: 60px 60px 80px 100px;
}
.Chi-word {
  font-size: 44px;
  font-weight: bold;
}
.Eng-word {
  display: block; /* 讓它獨佔一行 */
  margin-top: 8px;
  font-family: arial;
  font-size: 24px;
  font-weight: bold;
}
.detail-word {
  color: #595959;
  line-height: 30px;
}
.button-g {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #064c8c;
  color: white;
  border: 1px solid #064c8c;
  border-radius: 8px;
  padding: 10px 12px;
  margin: 0 5px 5px 0;
}

.global-background {
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_country.png");
  background-size: cover; /* 填滿容器 */
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100vw;
  height: 625px;
}

.global-inside {
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 主軸置中 */
  align-items: start;
  height: 75%;
}

.global-word {
  padding-left: 50px;
  color: #333333;
  font-size: 17px;
  line-height: 35px;
}
.introduce {
  display: flex;
  flex-direction: column;
  align-items: center; /* 次軸(左右) */
  height: 125px;
  gap: 30px;
}

.introduce-org {
  color: #ec6300;
  font-size: 27px;
}

.introduce-tex {
  color: #333333;
  font-size: 32px;
}

.booking-background {
  background-image: url("https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_hp_background1.png");
  background-size: cover; /* 填滿容器 */
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
}
.booking {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.booking-left {
  display: flex;
  justify-content: center;
  width: 100%;
}

.booking-right {
  width: 100%;
}

.booking-img {
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_%E8%A8%82%E4%BD%8D%E7%AE%A1%E7%90%86_TC-1.png");
  background-size: 75%; /* 填滿容器 */
  background-position: right;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 500px;
  /* background-color: grey; */
}

.footer-container {
  background-color: #252932;
  min-width: 100vw;
  display: flex;
  flex-direction: column; /* 垂直排列 */
  align-items: stretch; /* 讓子元素寬度撐滿 */
  padding: 60px 0 20px 0;
}

.footer-information {
  width: 100%;
  color: #e3e6ed;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 140px;
  margin: 0 87px;
}

.foot-company,
.foot-service,
.foot-detail,
.foot-social {
  flex: 1;
  padding: 0 20px;
}

.foot-service {
  background-color: #252932;
  color: #e3e6ed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}

.block-a {
  display: inline-block;
  border-bottom: 1px solid #65676d;
}
.current-a {
  color: black;
  border-bottom: 1px solid #e3e6ed;
  padding: 10px 10px 10px 0;
}
.footer-a {
  text-decoration: none;
  color: #e3e6ed;
  padding: 10px 10px 10px 0;
}

.footer-a:hover {
  color: rgb(255, 153, 0);
}

.foot-company {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding-bottom: 20px;
  gap: 25px;
}
.logo_nation img {
  display: block;
  margin-bottom: 20px;
}
.country {
  font-weight: bold;
}
.address {
  font-size: 12.3px;
}

.foot-detail {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.language {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}

.foot-social {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.social-a {
  padding-top: 0;
  /* 取消上方空白 */
  margin-top: 0;
  margin-bottom: 20px;
}

/* 
.default{
  pointer-events: none; 
  cursor: not-allowed;
} */

.footer-declare {
  width: 100%;
  padding: 15px 0 13px 0;
  background-color: #191c23;
  color: #9ea6b7;
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  margin-bottom: -20px;
}

.icon-control {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  display: flex;
  align-items: center;
}
.icon {
  font-size: 22px;
  color: grey;
}
