/* 補充資料
https://cdnjs.com/libraries/font-awesome/6.7.2 */
/* 
https://fontawesome.com/v6/search?o=r */

section {
  font-size: 16px;
}

.container-header {
  margin: 0 auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #dfdede; /* 用這個代替 hr */
  padding: 0 50px;
}

.header-logo {
  max-width: 70%;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  /* 控制導覽連結的間距 */
}

.header-bar {
  color: rgb(119, 119, 119);
  font-size: 15px;
}

.header-bar:hover {
  color: rgb(255, 153, 0);
}

.header-link {
  background-color: #da3743;
  border-radius: 30px;
  color: white;
  padding: 10px;
  line-height: 1;
}

.footer-container {
  margin: 0 auto;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

.foot-company {
  display: block;
}

.footer-declare {
  width: 100%;
  padding: 15px 0 13px 0;
  background-color: black;
  color: rgb(119, 119, 119);
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
}

.icon-control {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.icon {
  font-size: 20px;
}
