/* 補充資料
https://cdnjs.com/libraries/font-awesome/6.7.2 */
/* 
https://fontawesome.com/v6/search?o=r */
:root {
  --themeColor: #ec6300;
  --themeVerseColor: #064c8c;
}
section {
  font-size: 16px;
  min-width: 1vh;
}

.container-header {
  margin: 0 auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #dfdede; /* 用這個代替 hr */
  padding: 0 50px;
}

.header-logo {
  max-width: 70%;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  /* 控制導覽連結的間距 */
}

.header-bar {
  color: rgb(119, 119, 119);
  font-size: 15px;
  text-decoration: none;
}

.header-bar:hover {
  color: rgb(255, 153, 0);
}

.header-link {
  background-color: #da3743;
  border-radius: 30px;
  color: white;
  padding: 10px;
  line-height: 1;
}
.guide-background {
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_%E9%A6%96%E5%9C%96.png");
  background-size: cover; /* 填滿容器 */
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  min-width: 100vw;
  height: 625px;
}

.guide-container {
  padding: 0 20px;
  margin-left: 100px;
  /* margin-top: 120px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.guide-title {
  margin-top: 100px;
  font-size: 0;
}
.guide-context {
  margin: 60px 60px 80px 100px;
}
.Chi-word {
  font-size: 44px;
  font-weight: bold;
}
.Eng-word {
  display: block; /* 讓它獨佔一行 */
  margin-top: 8px;
  font-family: arial;
  font-size: 24px;
  font-weight: bold;
}
.detail-word {
  color: #595959;
  line-height: 30px;
}
.button-g {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--themeVerseColor);
  color: white;
  border: 1px solid var(--themeVerseColor);
  border-radius: 8px;
  padding: 10px 25px;
  margin: 0 5px 5px 0;
}

.global-background {
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_country.png");
  background-size: cover; /* 填滿容器 */
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100vw;
  height: 625px;
}

.global-inside {
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 主軸置中 */
  align-items: start;
  height: 75%;
}

.global-word {
  padding-left: 50px;
  color: #333333;
  font-size: 17px;
  line-height: 35px;
}
.introduce {
  display: flex;
  flex-direction: column;
  align-items: center; /* 次軸(左右) */
  height: 125px;
  gap: 30px;
}

.introduce-org {
  color: var(--themeColor);
  font-size: 27px;
}

.introduce-tex {
  color: #333333;
  font-size: 32px;
}

.booking-background {
  background-image: url("https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_hp_background1.png");
  background-size: cover; /* 填滿容器 */
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
}
.booking,
.customer {
  display: flex;
  justify-content: center;
  margin: 70px auto;
  width: 100%;
  gap: 10px;
}

.reserve {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 50px;
  width: 100%;
  gap: 10px;
}

.booking-left,
.customer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reserve-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.booking-img {
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_%E8%A8%82%E4%BD%8D%E7%AE%A1%E7%90%86_TC-1.png");
  background-size: 75%; /* 填滿容器 */
  background-position: right;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 500px;
  /* background-color: grey; */
}

.booking-right,
.customer-right {
  width: 100%;
  margin: 30px auto;
  padding-top: 50px;
  position: relative;
}

.reserve-left {
  width: 100%;
  margin: 30px -40px 30px auto;
  padding-top: 50px;
  position: relative;
}

.booking-title,
.customer-title {
  color: var(--themeVerseColor);
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 70px 0;
  position: absolute;
  left: 80px;
  top: 0px;
}

.reserve-title {
  color: var(--themeVerseColor);
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 70px 0;
  position: absolute;
  left: 185px;
  top: 0px;
}

.boooking-infor,
.customer-infor {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.reserve-infor {
  width: 80%;
  margin: 30px 0 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}

.booking-detail,
.reserve-detail,
.customer-detail {
  display: flex;
  gap: 50px;
}

.detail-icon {
  width: 50px;
  font-size: 44px;
  font-weight: 100;
}

.booking-context,
.reserve-context,
.customer-context {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.booking-context h3,
.reserve-context h3,
.customer-context h3 {
  font-size: 20px;
  font-weight: 800;
}

.booking-context p,
.reserve-context p,
.customer-context p {
  font-size: 16px;
}
.reserve-img {
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_%E5%80%99%E4%BD%8D%E7%AE%A1%E7%90%86_TC.png");
  background-size: 75%;
  /* 圖片大小 */
  background-position: left;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.customer-img {
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_%E9%A1%A7%E5%AE%A2%E7%AE%A1%E7%90%86_TC.png");
  background-size: 75%;
  background-position: right;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.reserve-background {
  /* background-color: rgb(192, 11, 11); */
  background-image: url("https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_hp_background2.png");
  background-size: cover; /* 填滿容器 */
  background-position: center;
  background-repeat: repeat;
  overflow: hidden;
  width: 100vw;
  min-height: auto;
}

.business-background {
  background-image: url("https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_form_background.png");
  background-repeat: no-repeat;
  background-position: auto center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  min-height: auto;
  /* 讓 body 高度等於視窗高度 */
  /* 
  width: 100%; /* 滿版寬度 
  /* 維持圖片比例，假設圖片是 1920x1080 
  padding-top: 56.25%; /* 1080/1920 = 0.5625 -> 56.25% 
  background-image: url("https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_form_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; /* 完整顯示圖片 
  position: relative; */
}

.business-header {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.business-word {
  color: var(--themeColor);
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  margin: 0 auto;
}

.business-p {
  font-size: 18px;
  height: 60px;
  margin: 50px auto;
}

.form-cover {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

form {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  border-radius: 8px;
}

.question {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.top-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 5px;
}
.top-text h1 {
  font-size: 27px;
  color: var(--themeVerseColor);
  font-weight: bold;
  margin: 20px 0;
}
.top-text div {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}
.top-text p {
  font-size: 16px;
  color: black;
}
.underline {
  margin-bottom: 40px;
}

.question-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

form label {
  display: block; /* 讓 label 變成區塊元素 */
  font-size: 16px;
  text-align: center;
  width: 100%;
}

form input,
form select {
  border: 1px solid lightgray;
  width: 350px; /* 固定寬度 */
  height: 40px;
  margin: 0 auto;
}

.submit-button {
  background-color: var(--themeColor);
  color: white;
}

.footer-container {
  background-color: #252932;
  min-width: 100vw;
  display: flex;
  flex-direction: column; /* 垂直排列 */
  align-items: stretch; /* 讓子元素寬度撐滿 */
  padding: 60px 0 20px 0;
}

.footer-information {
  width: 100%;
  color: #e3e6ed;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 140px;
  margin: 0 87px;
}

.foot-company,
.foot-service,
.foot-detail,
.foot-social {
  flex: 1;
  padding: 0 20px;
}

.foot-service {
  background-color: #252932;
  color: #e3e6ed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}

.block-a {
  display: inline-block;
  border-bottom: 1px solid #65676d;
}
.current-a {
  color: black;
  border-bottom: 1px solid #e3e6ed;
  padding: 10px 10px 10px 0;
}
.footer-a {
  text-decoration: none;
  color: #e3e6ed;
  padding: 10px 10px 10px 0;
}

.footer-a:hover {
  color: var(--themeColor);
}

.foot-company {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding-bottom: 20px;
  gap: 25px;
}
.logo_nation img {
  display: block;
  margin-bottom: 20px;
}
.country {
  font-weight: bold;
}
.address {
  font-size: 12.3px;
}

.foot-detail {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.language {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}

.foot-social {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.social-a {
  padding-top: 0;
  /* 取消上方空白 */
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-declare {
  width: 100%;
  padding: 15px 0 13px 0;
  background-color: #191c23;
  color: #9ea6b7;
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  margin-bottom: -20px;
}

.icon-control {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  display: flex;
  align-items: center;
}
.icon {
  font-size: 22px;
  color: grey;
}
