.main-pic {
  width: 100%;
  height: 100%;
}

.box-wrap {
  background-color: pink;
  width: 300px;
  margin: 10px;
}

.box {
  background-color: lightyellow;
  width: 80px;
  height: 80px;
  margin: 10px;
  float: left;
}

.box:nth-of-type(3n -2) {
  width: 180px;
  height: 180px;
}

.box:nth-of-type(6n -2) {
  float: right;
}

/* 爆圖時，在下層設定阻擋 */
.clear {
  clear: both;
}
