section {
  margin: 100px;
}

header {
  height: 68px;
  background-color: grey;
  position: fixed;
  /*
    fixed會在原地浮起來
  */
  top: 0;
  width: 100%;
}

.btn {
  background-color: pink;
  padding: 20px;
}

.btn:hover {
  transform: scale(1.5);
}

.box {
  width: 300px;
  height: 300px;
  background-color: rgb(173, 35, 35);
  position: fixed;
  opacity: 1;
  /*設置位置在正中間
  1.自己計算
  top: calc(50% - 150px);
  left: calc(50% - 150px);

  2.搭配transform:translate() ;調整自己
  */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transform: rotate(20deg);
}

.mask {
  position: fixed;
  /* 占滿螢幕  1*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* 占滿螢幕  2
  width: 1vw;
  height: 1vh;
  */
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
}
