* {
  font-family: Arial, Helvetica, sans-serif;
}

.list {
  background-color: rgb(187, 183, 183);
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.list li {
  font-size: 32px;
  background-color: rgb(255, 155, 171);
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list .item12 {
  background-color: rgb(255, 248, 146);
  position: relative;
  bottom: 50px;
  left: 100px;
  /* 調整z軸的上下順序 */
  z-index: 2;
}

.list .item13 {
  background-color: red;
  /* 相對定位:相對於自己的位置調整 原本的位子占空間 */
  position: relative;
  top: -50px;
  right: -50px;
}

.line-wrap {
  margin: 100px 20px;
}

.line {
  border: 4px solid darkblue;
  padding: 100px;
}
.middle {
  position: relative;
}
.inner {
  background-color: rgb(187, 250, 255);
  opacity: 0.5;
  /* 最內層下absolute,
  會在原本位置直接浮起來 */
  position: absolute;
  right: 0;
  bottom: 0;
}

.line-wrap2 {
  margin: 100px 20px;
}

.line2 {
  border: 4px solid rgb(255, 0, 0);
  padding: 100px;
}
.outer2 {
  position: relative;
}
.inner2 {
  background-color: pink;
  /* 最內層下absolute,
  會在原本位置直接浮起來 */
  position: absolute;
  left: 10px;
  bottom: 10px;
  opacity: 0.5;
}

.article {
  max-width: 600px;
  margin: 100px auto;
  background-color: rgb(119, 119, 119);
  /* 父層需要有定位，讓子層內容有依據 */
  position: relative;
}

.box {
  background-color: #fd5789;
  width: 300px;
  height: 300px;
  /* 絕對定位:根據父層定位 原本的位子不占空間 */
  position: absolute;
  opacity: 0.5;
  right: 0;
  top: 0;
}
