section {
  margin: 100px auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.item {
  width: calc(25% - 15px);
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 8px;
  position: relative;
}

.item img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover; /* 圖片維持比例並裁切 */
  border-radius: 8px;
}

.sale-tag {
  font-weight: 100;
  background-color: rgb(255, 0, 0);
  color: aliceblue;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  left: -10px;
}

.sale-tag::before {
  content: "";
  /* width: 10px;
  height: 10px;
  background-color: rgb(172, 0, 0); */
  color: aliceblue;
  position: absolute;
  /* bottom: -10px; */
  top: 100%;
  border-right: 10px solid rgb(194, 0, 0);
  border-top: none;
  border-left: none;
  border-bottom: 10px solid transparent;
}

.img-wrap {
  overflow: hidden;
  position: relative;
}

.hot::after {
  content: "HOT ! ";
  background-color: rgb(255, 253, 143);
  padding: 2px 20px;
  color: red;
  position: absolute;
  top: 10px;
  right: -10px;
  transform: rotate(45deg);
}

/*
.hot::after {
  content: "HOT ! ";
  font-weight: bold;
  background-color: rgb(255, 0, 0);
  color: white;
  position: absolute;
  top: 5px; /* 🔥 讓緞帶貼到 item 上緣 
  right: -21px;
  width: 80px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 梯形形狀（上窄下寬） 
  clip-path: polygon(32% 0%, 68% 0%, 100% 100%, 0% 100%);

  /* 旋轉角度 
  transform: rotate(45deg);
}
*/

.information {
  padding: 10px;
}
