.item {
  width: 300px;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 8px;
  position: relative;
}

.item img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover; /* 圖片維持比例並裁切 */
}

.sale-tag {
  padding: 0 8px;
  font-weight: 100;
  background-color: rgb(218, 14, 14);
  color: aliceblue;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  left: -10px;
}
.discount-tag {
  padding: 0 8px;
  font-weight: 100;
  background-color: rgb(255, 255, 99);
  color: red;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.information {
  padding: 10px;
}
