header {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #772525;
}

.pic {
  width: 100%;
  height: 600px;
  aspect-ratio: 4/3;
  object-fit: cover; /* 讓圖片填滿並裁切 */
  overflow: hidden;
}

nav {
  background-color: #7c5757;
  position: sticky;
  padding: 10px;
  top: 64px;
}
